@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.glass {
  position: relative;
  background: #1f2937;
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  border-top: 1px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  min-width: 35vw;
  padding: 20px 30px;
}
  
  .glass__form {
    position: relative;
    display: grid;
  }
  
  .glass__form h4 {
    font-family: 'karla';
    font-size: 40px;
    text-align: left;
    margin: 10px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .glass__form h3 {
    font-family: 'inter';
    font-size: 18px;
    text-align: left;
    margin: 10px;
    color: #fff;
  }

  #style__text {
    color:#10b881;
  }
  
  .glass__form__group {
    margin: 10px 0;
  }
  
  .glass__form__input {
    color: #fff;
    background: #283549;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #171f29;
  }

  .phishing__input {
    box-shadow: 5px 5px 10px #b81047;
  }

  .legitimate__input {
    box-shadow: 5px 5px 10px #10b881;
  }

  .glass__form__input:focus {
    color: #fff;
    background: #283549;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #171f29;
  }
  
  .glass__form__input:focus {
    color: #fff;
    background: #283549;
  }

  .glass__form__input::placeholder {
    color: #fff;
    background: #283549;
  }
  
  .glass__form__btn {
    background: #10b881;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .glass__form__btn:hover {
    background: transparent;
    color: #10b881;
    transition: all ease-in-out 0.3s;
  }

  .legitimate {
    font-family: 'inter';
    font-size: 14px;
    margin-left: 20px;
    color: #10b881;
  }

  .phishing {
    font-family: 'inter';
    font-size: 14px;
    margin-left: 20px;
    color: #b81047;
  }

  .error {
    font-family: 'inter';
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
  }
  
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
  }
  
  ::placeholder {
    /* Most modern browsers support this now. */
    color: #000;
  }